.profileDashBoard {
    padding: 1rem;
    width: 80%;
    margin: 2% auto 0 auto;
    /* background: #ff8cae; */
}

.profileDashBoardHead {
    text-align: center;
    margin-bottom: 1.5%;
    font-size: 1rem;
}

.profileDashContent {
    margin-bottom: 3%;
}

.profileDashImg {
    border: 1px solid;
    padding: 1rem;
    border-radius: 15px;
    text-align: center;
    width: 87%;
    margin-bottom: 5%;
}

.profileImg1 {
    width: 90%;
    border-radius: 15px;
    border: 2px solid #ff418d;
}

.name {
    font-size: 0.9rem;
}

.role {
    opacity: 0.8;
    font-size: 0.65rem;
}

.profileDashRight {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.description {
    border: 1px solid;
    padding: 1rem;
    border-radius: 15px;
    height: 55%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.descHead {
    font-size: 0.9rem;
}

.desc {
    margin-top: 1%;
    font-size: 0.7rem;
    opacity: 0.8;
}

.details {
    border: 1px solid;
    padding: 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30%;
}

.detailsCont {
    display: flex;
}

.detailsImg {
    margin-right: 3%;
}

.detailsTxt {
    font-size: 0.7rem;
    opacity: 0.8;
}

@media only screen and (min-width: 1024px) {
    .profileDashBoard {
        border: 1px solid;
        padding: 1rem;
        border-radius: 15px;
        width: 60%;
        margin: 4% auto 2.5%;
        /* background: #ff8cae; */
    }
    
    .profileDashBoardHead {
        text-align: center;
        margin-bottom: 1.5%;
        font-size: 2rem;
    }
    
    .profileDashContent {
        display: flex;
        justify-content: space-around;
        margin-bottom: 3%;
    }
    
    .profileDashImg {
        border: 1px solid;
        padding: 1rem;
        border-radius: 15px;
        text-align: center;
        width: 30%;
        margin: auto;
    }
    
    .profileImg1 {
        width: 100%;
        border-radius: 15px;
    }

    .name {
        font-size: 1.5rem;
    }
    
    .role {
        opacity: 0.8;
        font-size: 1rem;
    }
    
    .profileDashRight {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-right: 2%;
    }
    
    .description {
        border: 1px solid;
        padding: 1rem;
        border-radius: 15px;
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .descHead {
        font-size: 1.5rem;
    }

    .desc {
        font-size: 0.8rem;
    }
    
    .details {
        border: 1px solid;
        padding: 1rem;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .detailsCont {
        display: flex;
    }
    
    .detailsImg {
        margin-right: 3%;
    }

    .detailsTxt {
        font-size: 0.8rem;
    }

    .media {

    }
}